/*--- this is my css page. --*/

body {
  font-family: "Bodoni Moda", serif;
  font-weight: 400;
  font-style: normal;
}

/*--- this is where I format the header. --*/
header {
  color:#08403E;
  background-color:#f2e3d5;
  padding: 32px 32px;
}
header h1{
  color:#08403E;
  margin: 0;
}
header p{
  color:#08403E;
  margin: 0;
  letter-spacing: .2px;
}

/*--- this is where I format navigation. ---*/
nav{
  background-color:#08403E;
}

nav ul{ 
  list-style-type: none;
  padding: 0 32px;
  margin: 0;
  display: flex;
}

nav ul li a{
  font-size: 1.1rem;
  text-decoration: none;
  color: #f2e3d5;
  font-weight: 400;
  display: block;
  padding: 18px 16px;
}

nav li.active a{ 
  background-color: #f2e3d5;
  color: #08403E;
}

nav a:hover{
  color: #f2e3d5;
}

/*--- this is where I format main body. ---*/
main {
  padding: 0px 32px;
  }
  
  main h1 {
    color: #706513;
  }
  
  main h2 {
    color: #08403E;
    margin-bottom: .2rem;
  }
  
  main p {
    color: #520120;
    margin: 0 0 .4rem 0;
  }
  
  main ol {
    padding: .5rem 3vw;
    background-color: #706513;
    width: 60rem;
    border: 2px solid #08403E;
    border-radius: .5rem;
    color:#f2e3d5;
  }
  
  main dl dt {
    color:#08403E;
    font-weight: 800;
  }
  
  main dl dd {
    color: #520120;
    font-size: .9rem;
  }
  
  main ul {
    list-style-type: square;
    color:#520120;
  }
  
  main ul li{
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
  }
  
  main address{
    font-style: italic;
    color:#08403E;
    padding: .0rem .5rem .8rem .5rem;
  }
  
  main a {
    color:#520120;
  }
  
  main a:hover {
    color:#B57114;
  }

figure.wrapped {
  width: 30%;
  margin: 0 0 0 2%;
  float: right;
}

figure.wrapped img {
  width: 100%;
  height: auto;
}

figure.wrapped figcaption{
  text-align: center;
  font-size: .75rem;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
}

div.gallery figure{
  margin: .5rem 2% 0 0;
}

div.gallery figcaption {
  text-align: center;
  font-size: .6rem;
  color:#08403E
}

/*--- this is where I format my footer. ---*/
footer { 
  background-color: #f2e3d5;
  text-align: center;
  color:#08403E;
  padding: 1rem 0;
  font-size: .8rem;
}

footer a{
  color:#08403E;
}